*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open Sans, sans-serif;
}

p{
    margin-bottom: 3vh;
}

/* navbar desktop */
.navbar{
    grid-area: navbar;
}

nav ul{
    display: flex;
    padding: 2rem;
}
nav ul li{
    list-style: none;
    padding-right: 1.5rem; 
}

.nav-link{
    text-decoration: none;
    color: whitesmoke;
    padding: 0.2rem;
}
.nav-link:hover{
   border-bottom: 1px solid white;
}

/* hero section */
header{
    background-image: url('../img/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8vh 1fr;
    grid-template-areas: "navbar navbar"
                         "text .";
    
}

.hero-text{
    grid-area: text;
    margin: auto;
    font-size: large;
    padding-left: 2em;
}
.hero-text h1{
    font-size: 4rem;
    font-family: 'Proza Libre', sans-serif;
    
}
.hero-text h3,h1{
    margin-bottom: 3vh;
    padding-right: 5vw;
}



/* button style */
.btn{

    text-decoration: none;
    color: #FE763B;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #FE763B;
}
.btn:hover{
    background-color: #FE763B;
    color: white;
}


.link-text{
text-decoration: none;
color: #FE763B;
padding-bottom: 0.2rem;
}

.link-text img{
    vertical-align: middle;
    padding-left: 0.5rem ;
}

.link-text:hover{
    border-bottom: 1px solid #FE763B;
}


/* description sections */
.description-block{
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image text";
  margin-bottom: 5rem;
  margin-top: 3vh;
}
.description-block-inverted{
    grid-template-areas: "text image";
}
.description-block h3{
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: x-large;
      font-family: 'Proza Libre', sans-serif;
}
.description-block .text{
    grid-area: text;
    margin: auto;
    padding: 5vw;
}
.image{
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
 .image img{
      width: 30vw;
      padding: 1rem;
  }



/* video */
.video{
    width: 100vw;
    display: grid;
    background-color: #FA976D;
    color: white;
   
    
}
.video h3{
    margin: auto;
    padding-top: 3rem;
}

/* iframe responsive */
.video-div{
  grid-area: image;
  position: relative;
  padding-bottom: 56.25%;
}

iframe{
  position: absolute;
  height: 100%;
  width: 100%;
}

/* form */
form{
    display: flex;
    flex-direction: column;
    margin: auto;
}
input{
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 3rem;
}





/* mailchimp override */
#mc_embed_signup form{
    padding: 0;
}
#mc_embed_signup input{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
#mc_embed_signup .button{
    background-color:white;
    color: #FE763B;
    border: 1px solid white;
}
#mc_embed_signup .button:hover{
    background-color: white;
}


/* footer */
footer{
    background-color: #4B1D0A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav-links logo social-links" ;
    color: white;
}

footer ul li{
    list-style: none;
  
}

.footer-div{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.footer-div img{
    margin: 1.5rem;
    width: 50px;
}

.social-links{
    display: flex;
   
}
.social-links i{
    font-size: 1.5rem;
    padding-right: 1rem;
} 
.social-links a{
    color: white;
}

.nav-menu{
    display: none;
}
@media all and (max-width:800px){
    header{
        grid-template-areas: 
        "navbar navbar "
        "text text";
    }
    .description-block{
        grid-template-areas: "text text"
        "image image" ;
    }

    .image img{
        width: 80%;
    }

    footer{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nav-links" "logo" "social-links" ;
    padding: 2rem;
    
    }

    .navbar{
        display: none;
    }

    .nav-menu{
        display: block;
    }
}

/* ////////burger menu mobile */

.nav-menu{
    grid-area: navbar;
    z-index: 3;
}

.nav-mobile-hide{
    display: none;
}
.nav-menu nav ul{
    display: flex;
    flex-direction: column;
    padding-top: 13vh;
    padding-left: 3rem;
}

.nav-menu nav ul li{
    padding-bottom: 1rem;
}

.nav-mobile-show{
    display: block;
    grid-area: navbar;
    background-color: #FA976D;
    height: 50vh;
    z-index: 3;
}

.navbar-mobile ul{
    display: flex;
    flex-direction: column;
}

.navbar-mobile ul li{
    padding: 1rem;
}
.burger{
position: absolute;
cursor:pointer;
margin: 3rem;
z-index: 4;
}
.burger div{
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
}
