*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}
img{
    max-width: 100%;
    display: block;
}

/*   button   */
.btn{
    background: #0a3e38;
    color: whitesmoke;
    align-content: center;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 5px;
    transition: transform 250ms ease-in-out;
    margin: 1rem 0 1rem 0;
}
.btn:hover{
    transform: scale(1.1);
}

/*   navbar   */
.navbar{
    background-color: #7ba089;
    width: 100vw;
}
.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0 5vw 0 0;
    padding: 1rem;
    justify-content: end;
}
.nav-link{
    padding: 0.5rem;
}
.nav-link a{
    text-decoration: none;
    color: whitesmoke;
}
.nav-link a:hover{
    text-decoration: underline;
}

/*   header   */
.header-title{
    font-size: 4rem;
    line-height: 1.1;
    margin: 0;
}
.section-title{
    text-align: center;
    font-size: 3rem;
    line-height: 1.1;
    margin: 3rem 0 3rem 0;
}
.header-main-container{
    text-align: center;
    padding: 15em 0;
    background-color: #7ba089;
    color: whitesmoke;
    width: 100vw;
}

/*   featured products   */
.featured-items{
    display: flex;
    gap:1em;
    /*gap: 1em; not supported on safari*/
    justify-content: center;
}
.featured-item{
    display: block;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
}
.featured-details{
    text-align: center;
    color: #0a3e38;
    line-height: 1.2;
}
.price{
    display: block;
    font-weight: 700;
    font-size: 2rem;
}
.featured-item:hover{
    transform: scale(1);
}

/*   product cards   */
.products{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}
.product{
    background-color: #7ba089;
    margin: 1rem;
    border-radius: 5px;
    padding: 3rem;
    font-size: 1rem;
    color: whitesmoke;
    display: flex;
    align-content: center;
    vertical-align: center;
}
.product .product-title{
    font-size: 3rem;
}
.product div{
    margin: auto;
}
.product img{
    width: 25vw;
}

/*   footer   */
footer{
 background-color: #0a3e38;
}
.social-media{
    display: flex;
    list-style: none;
    padding: 3em;
}
.social-media li{
    padding-right: 1em ;
}
.social-media li a{
    text-decoration: none;
    color: whitesmoke;
}


@media only screen and (max-width: 800px){

    .featured-items{
        flex-direction: column;
    }
    .product{
        display: block;
    }
    .product img{
        margin: auto;
        width: 40vw;
    }
}

