* { box-sizing: border-box; }
img { max-width: 100%; }
html { font: 14px sans-serif;  }
body {  background: #f7f7f7; }
a { color: ##337ab7; text-decoration: none; }
.container { max-width: 1000px; margin: 0 auto; }
article { background: #eee; margin-top: 2rem; padding: 1rem 5rem; border-radius: 10px; }
figure { background: white; border: 1px solid #999; padding: 5px;  border-radius: 5px; }
figcaption { font-size: 0.8rem; }
h1 { text-align: center; font-size: 3rem; }
.lead { font-weight: 100; text-align: center; font-size: 1.4rem;  }
li { margin-bottom: 0.5rem; }
hr { border: none; border-top: 1px solid #ddd;  }
footer { margin-top: 3rem; text-align: center; margin-bottom: 2rem;  }
footer hr { margin-bottom: 1.5rem; }
footer p { font-size: 0.8rem;  }
